# Python
__pycache__/
*.py[cod]
*$py.class

# Django
*.log
db.sqlite3
staticfiles/

# Environment / secrets
.env
.env.*

# Virtual envs
venv/
.venv/
env/

# IDE / OS
.vscode/
.idea/
.DS_Store
Thumbs.db
